body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column
}

::-webkit-scrollbar {
  width: 0;
}
.ymaps-2-1-78-map-copyrights-promo, .ymaps-2-1-78-copyright__wrap{
  display: none !important;
}
.form-control:focus {
  border: 1px solid #ced4da !important;
  outline: 0 !important;
  box-shadow: none !important;

}

